/* Base styles for large computer screens */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;  /* Reduced padding */
}

.header__logo {
    display: block;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    margin: 0 0.8rem;  /* Reduced margin */
    text-decoration: none;
    position: relative;
    padding: 4px 0;
}

.nav__link:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;  /* Reduced height */
    background-color: blue;
}

.header__title, 
.header__subtitle {
    position: absolute;
    left: 1.6rem; /* Adjusted */
    white-space: nowrap;
    margin-top: 2.5rem; /* Adjusted */
}

.header__title {
    top: 3.5rem; /* Adjusted */
}

.header__subtitle {
    top: 5.2rem; /* Adjusted */
    margin-top: 3.5rem; /* Adjusted */
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    position: relative;
}

.search-input-group {
    display: flex;
    align-items: center;
    background-color: white;
    flex-grow: 1;
}

.location-icon-container {
    background-color: grey;
    padding: 8px;  /* Reduced padding */
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #0065FC;
    position: relative; 
    border-radius: 20px;
    max-width: 1.2cm;  /* Reduced width */
    margin-top: 4.2rem;
    margin-left: 1.6rem;
}

.search-input-group {
    display: flex;
    align-items: center;
    background-color: #DEEBFF;
    flex-grow: 1;
    border-radius: 20px;
}

.location-icon-container {
    background-color: grey;
    padding: 8px;  /* Reduced padding */
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-input {
    border: none;
    flex-grow: 1;
    padding: 8px;  /* Reduced padding */
    outline: none;
    border-radius: 20px;
}

.search-button-desktop {
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 8px 16px;  /* Reduced padding */
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-button-mobile {
    display: none;
}

/* styles for Filters */

.filters {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 1.7em 0;  /* Reduced margin */
    font-weight: bold;
    display: flex;
    align-items: center;
}

.filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;  /* Reduced margin */
    font-weight: bold;
    background-color: white;
    border: 2.5px solid #F2F2F2;  /* Reduced border width */
    width: auto;
    height: 42px;  /* Reduced height */
    border-radius: 30px;  /* Adjusted border-radius */
    padding-right: 12px;  /* Reduced padding */
}

.filter-icon {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 12px;  /* Reduced padding */
    margin-right: 8px;
    margin-left: -8px;
}

.child {
    padding: 12px 15px;  /* Reduced padding */
}

.filter-info {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 1.7em 0;  /* Reduced margin */
    display: flex;
    align-items: baseline;
}

.info-icon {
    color: #0065FC;
    background-color: white;
    border: 2.5px solid #f2f2f2;  /* Reduced border width */
    border-radius: 100%;
    padding: 4px 10px;  /* Reduced padding */
    margin-right: 12px;  /* Reduced margin */
    width: auto;
}

.info-text {
    width: 340px;  /* Reduced width */
}

/*the accommodations in marsielle styles*/

.container {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    grid-gap: 2%;
}

#accommodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: calc(70%);
    background-color: #f2f2f2;
    border-radius: 2%;
    padding: 3%;
}

#accom-title,
#show-more {
    flex-basis: 100%;
}

#show-more a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.listing-card {
    flex-basis: calc(33.333% - 2%);
    min-width: 220px;
    min-height: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.5em;
    border-radius: 5%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1)
}

.a-listing-card {
    flex-basis: calc(33.333% - 2%);
    min-width: 220px;
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0;
    border-radius: 5%;
    text-decoration: none;
    color: inherit;
}

.card-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    padding: 0.5em;
}

.hotel-name {
    margin: 0.5em 0;
    max-width: 100%;
    font-weight: bold;
}

.price {
    margin: 0.5em 0;
    max-width: 100%;
}

.stars {
    margin: 0.5em 0 0 0;
    color: #0065FC;
}

.pale-stars {
    color: grey;
}


/*the most popular styles*/

#most-popular {
    background-color: #f2f2f2;
    border-radius: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.popular-card {
    display: flex;
    justify-content: left;
    background-color: white;
    max-width: 350px;
    min-width: 350px;
    max-height: 180px;
    margin: 0;
    padding: 0.5em;
    border-radius: 5%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.a-pop-card {
    max-width: 350px;
    min-width: 350px;
    max-height: 180px;
    border-radius: 5%;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.pop-card-image {
    max-width: 40%;
    min-width: 40%;
    height: 150px;
    overflow: hidden;
    margin-right: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    padding: 0.5em;
}


#activities {
    padding-left: 3%;
    padding-right: 3%;
    margin: 2em auto;
}

.activity-grid {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.activities-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    width: 100%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.a-activities-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    max-width: 22%;
    text-decoration: none;
    color: inherit;

}

.tall {
    height: 500px;
}

.wide {
    height: 220px;
}

.act-img-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.act-img-container-s {
    width: 100%;
    height: 175px;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.activities-card img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity-name {
    margin: 0.5em 0;
    max-width: 100%;
    font-weight: bold;
    padding-left: 5%;
}



/*the Footer styles*/

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: left;
    padding: 0.5% 3%;
    margin-top: 3em
}

.footer-col {
    flex-basis: calc(30% - 2%);
    width: 25%
}

footer a {
    text-decoration: none;
    color: inherit;
}


.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-list li {
    padding-bottom: 10px;
}


/* Tablet styles (between 768px and 992px) */
@media (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav__link:hover::before {
        display: none; /* Disable the top blue line for tablet */
    }

    .nav__link:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: blue;
    }

    .header__title {
        position: static;
        white-space: normal;
        margin-top: 1rem; /* This will provide spacing from the navigation */
    }

    .header__subtitle {
        position: static;
        white-space: normal;
        margin-top: 0.5rem; /* This will provide spacing between the title and subtitle */
        margin-bottom: 0;
    }

    .search-form-desktop {
        display: none;
    }
    
    .search-form-mobile{
        display: none;
    }

    .search-form-tablet {
        display: block;
        background-color: blue;
        align-items: center;
        border: none;
        color: white;
        padding: 10px;
        margin-top: -1rem;
    }

}

/* Mobile version adjustments (below 768px) */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 7px; /* Reduced padding for compactness */
    }

    .nav__link:hover::before {
        display: none; /* Disable the top blue line for mobile */
    }

    .nav__link:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: blue;
    }

    .header__title {
        position: static;
        white-space: normal;
        margin-top: 0.5rem; /* Reduced spacing for compactness */
        font-size: 20px; /* Reduced font size for compactness */
    }

    .header__subtitle {
        position: static;
        white-space: normal;
        margin-top: 0.25rem; /* Reduced spacing for compactness */
        margin-bottom: 0;
        font-size: 16px; /* Reduced font size for compactness */
    }

    /* Mobile styles */
    .search-form-desktop {
        display: flex;
    }

    .search-form-mobile {
        display: block;
        background-color: blue;
        align-items: center;
        border: none;
        color: white;
        padding: 8px; /* Reduced padding for compactness */
        margin-top: -4rem; /* Adjusted space between subtitle and search bar */
        font-size: 16px; /* Adjusted font size for compactness */
    }

    .filter {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .low-cost {
        order: 1;
    }
    
    .romantic {
        order: 1; /* Place "Romantic" in the same row as "Low cost" */
    }
    
    .family-friendly {
        order: 2;
    }
    
    .pets-allowed {
        order: 3;
    }

    .info-icon {
        padding: 1.5vw 2.5vw; /* Reduced padding */
        margin-right: 4%; 
    }

    .info-text {
        width: auto;
        font-size: 8px; /* Adjusted font size */
    } 

    
    #accommodations {
        flex-basis: 100%;
        background-color: #ffffff;
        padding: 5%;
    }

    .a-listing-card {
        margin: 5% 0;
        min-width: 100%;
        min-height: 65vw;
        max-height: 65vw;
    }

    .listing-card {
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        padding: 0;
    }

    .card-image {
        width: 100%;
        height: 50%;
        overflow: hidden;
    }

    #show-more {
        font-size: 6vw;
    }

    #activities {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;
    }

    .activity-grid {
        height: auto;
    }

    #activities h3 {
        font-size: 8.5vw;
    }

    .a-activities-card {
        margin: 20px 0;
        min-width: 100%;
        height: 50vw;
    }

    .activities-card {
        height: 50vw;
        padding: 0;
    }

    .act-img-container,
    .act-img-container-s {
        height: 75%;
    }

    .activity-name {
        font-size: 5.5vw;
    }


    footer {
        display: block;
        margin: 1em 0 0;
    }

    .footer-col {
        width: 100%;
        padding: 0 5% 5%;
        font-size: 4vw;
    }

    
    .container {
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 0;
        grid-gap: 0;
    }

    #most-popular {
        padding: 2% 5%;
        width: 100%;
        flex-basis: 100%;
        border-radius: 0;
    }

    #accom-title,
    .pop-title {
        font-size: 5.5vw;
        margin-right: 2%;
    }

    .a-pop-card {
        margin: 2% 0;
        min-width: 100%;
        min-height: 45vw;
        max-height: 45vw;
    }

    .popular-card {
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    .pop-card-image {
        height: auto;
        margin-right: 0;
    }

    .pop-card-text {
        margin: 0 5%;
        width: 100%;
    }

    .hotel-name {
        font-size: 4vw;
        padding: 0 3%;
    }
}

/* Card styles */
.card, .a-pop-card {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
}

.l-card, .popular-card {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}



.card-image, .pop-card-image {
    width: 100%;
    height: auto;
}

.card-text, .pop-card-text {
    margin-top: 10px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pale-stars {
    opacity: 0.5;

}



